.userDetails{
    position: absolute;
    top: 40px;
    width: 70%;
    left: 0px;
    background-color: white;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 45px;
    border-radius: 12px;
}
.suggest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.suggest .info{
    display: flex;
    align-items: center;
}
.suggest .info img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.suggest .info .name h5{
    font-weight: 600;
    font-size: 14px;
    color: #202020;
    cursor: pointer;
}
.suggest .info .name h5:nth-of-type(2){
    color: #777777;
    cursor:none;
}
.suggest .info .name h5:last-of-type{
    color: #8b8b8b;
    font-size: 13px;
    font-weight: normal;
    cursor:none;
}
.suggest > h5{
    font-weight: 600;
    font-size: 14px;
    background-color: #179ff7;
    cursor: pointer;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}