.following{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 20px;
}
.following .info{
    display: flex;
    align-items: center;
}
.following .info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.following .info h4{
    font-weight: 500;
    font-size: 14px;
}
.following .info h4:last-of-type{
    color: #7B7B7B;
}
.following > h5{
    background-color: #1877F2;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}