.post{
    margin-bottom: 25px;
}
.post .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .head .info{
    display: flex;
    align-items: center;
}
.post .head .info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.post .head .info h4{
    font-weight: 600;
    margin-right: 20px;
    color: #0f0f0f;
    position: relative;
}
.post .head .info h4::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 50%;
    right: -10px;
    background-color: #737373;
    border-radius: 50%;
}
.post .head .info h5{
    color: #838383;
    font-weight: normal;
}
.post .img{
    width: 100%;
    margin-top: 10px;
}
.post .img img{
    width: 100%;
    border-radius: 4px;
}
.post .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post .icons i{
    font-size: 25px;
}
.post .icons i:hover{
    color: rgb(125, 125, 125);
}
.post .icons .left i{
    margin-right: 20px;
    cursor: pointer;
}
.post .likes{
    margin-top: 12px;
    margin-bottom: 6px;
}
.post .likes h5{
    cursor: pointer;
}
.post .content h4{
    color: #101010;
}
.post .content h4 span{
    color: #8d9598;
    font-weight: normal;
}
.post .comment{
    margin-top: 10px;
}
.post .comment h4{
    font-weight: normal;
    color: #8a8a8a;
}